# Intermediate Data Preparation

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
listings = pd.read_csv('data\listings_2.csv')
listings.head()

,url,address,neighborhood,rent,beds,baths,flexs
0,https://www.renthop.com/listings/626-1st-avenu...,"626 1st Avenue, Apt W17M","Murray Hill, Midtown Manhattan, Manhattan","$3,408",Studio,1_Bath,NaN
1,https://www.renthop.com/listings/east-20s/b208...,East 20's,"Kips Bay, Midtown Manhattan, Manhattan","$3,500",1_Bed,1_Bath,/_Flex_2_
2,https://www.renthop.com/listings/20-exchange-p...,"20 Exchange Place, Apt 2601","Financial District, Downtown Manhattan, Manhattan","$3,673",1_Bed,1_Bath,NaN
3,https://www.renthop.com/listings/queens-st/na/...,Queens St,"Long Island City, Northwestern Queens, Queens","$2,529",Studio,1_Bath,NaN
4,https://www.renthop.com/listings/first-avenue/...,First Avenue,"Alphabet City, East Village, Downtown Manhatta...","$3,880",2_Bed,1_Bath,NaN

In [4]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           20000 non-null  object
 1   address       19988 non-null  object
 2   neighborhood  20000 non-null  object
 3   rent          20000 non-null  object
 4   beds          20000 non-null  object
 5   baths         20000 non-null  object
 6   flexs         2392 non-null   object
dtypes: object(7)
memory usage: 1.1+ MB

In [5]:
listings.describe()

,url,address,neighborhood,rent,beds,baths,flexs
count,20000,19988,20000,20000,20000,20000,2392
unique,18511,9686,252,2637,18,13,15
top,https://www.renthop.com/listings/fresh-pond-rd...,Wall Street,"Hell's Kitchen, Midtown Manhattan, Manhattan","$2,500",1_Bed,1_Bath,/_Flex_2_
freq,4,162,1733,236,7691,15253,1101

### Fixing Beds Feature

In [6]:
listings['beds'].unique()

array(['Studio', '1_Bed', '2_Bed', '3_Bed', '4_Bed', 'Loft', 'Room',
       '5_Bed', '_1_Bed', '_2_Bed', '6_Bed', '_5_Bed', '_Studio', '8_Bed',
       '_3_Bed', '_Room', '_4_Bed', '7_Bed'], dtype=object)

We can few duplicate categories. i.e. '5_Bed' and '\_5_Bed' are same

In [7]:
# Setup  for removing extra '_' from categories

dumy_strs = pd.Series(["_x_Bed","x_Bed"])
dumy_strs.map(lambda x: x[1:] if x.startswith('_') else x)

0    x_Bed
1    x_Bed
dtype: object

In [8]:
# Removindg stating '_'
listings['beds'] = listings['beds'].map(lambda x: x[1:] if x.startswith('_') else x)

In [9]:
listings['beds'].unique()

array(['Studio', '1_Bed', '2_Bed', '3_Bed', '4_Bed', 'Loft', 'Room',
       '5_Bed', '6_Bed', '8_Bed', '7_Bed'], dtype=object)

In [10]:
# Futher Fixing - Setting other Categoris to 0-Beds

listings['beds'] = listings['beds'].map(lambda x: x.replace('_Bed', '')) 
listings['beds'] = listings['beds'].map(lambda x: x.replace('Studio', '0')) 
listings['beds'] = listings['beds'].map(lambda x: x.replace('Loft', '0'))
listings['beds'] = listings['beds'].map(lambda x: x.replace('Room', '0'))

In [11]:
# Contering to Numeric

listings['beds'] = pd.to_numeric(listings['beds'])
listings['beds'].unique()

array([0, 1, 2, 3, 4, 5, 6, 8, 7], dtype=int64)

### Fixing baths feature

In [12]:
listings['baths'].unique()

array(['1_Bath', '2_Bath', '1.5_Bath', '3_Bath', '_2_Bath', '_1_Bath',
       '4_Bath', '2.5_Bath', '3.5_Bath', '5_Bath', '4.5_Bath',
       '_1.5_Bath', '6_Bath'], dtype=object)

In [13]:
listings['baths'] = listings['baths'].map(lambda x: x[1:] if x.startswith('_') else x) 
listings['baths'] = listings['baths'].map(lambda x: x.replace('_Bath', ''))

In [14]:
# Contering to Numeric

listings['baths'] = pd.to_numeric(listings['baths'])
listings['baths'].unique()

array([1. , 2. , 1.5, 3. , 4. , 2.5, 3.5, 5. , 4.5, 6. ])

### Fixing Flexes

In [15]:
listings['flexs'].unique()

array([nan, '/_Flex_2_', '/_Flex_1_', '/_Flex_3_', '/_Flex_4_',
       '/_Flex_5_', '_/_Flex_4_', '/_Flex_4__', '_/_Flex_2_',
       '_/_Flex_3_', '/_Flex_6_', '/_Flex_9_', '/_Flex_5__', '/_Flex_2__',
       '/_Flex_3__', '_/_Flex_1_'], dtype=object)

In [16]:
# listings[listings['flexs'].notnull()]['flexs']

In [17]:
listings['flexs'] = listings[listings['flexs'].notnull()]['flexs'].map(lambda x: x[1:] if x.startswith('_') else x)
listings['flexs'] = listings[listings['flexs'].notnull()]['flexs'].map(lambda x: x[1:] if x.endswith('_') else x)

In [18]:
listings['flexs'].unique()

array([nan, '_Flex_2_', '_Flex_1_', '_Flex_3_', '_Flex_4_', '_Flex_5_',
       '_Flex_4__', '_Flex_6_', '_Flex_9_', '_Flex_5__', '_Flex_2__',
       '_Flex_3__'], dtype=object)

In [19]:
listings['flexs'] = listings[listings['flexs'].notnull()]['flexs'].map(lambda x: x.replace('_Flex_', '')) 
listings['flexs'] = listings[listings['flexs'].notnull()]['flexs'].map(lambda x: x.replace('_', ''))

In [20]:
listings['flexs'].unique()

array([nan, '2', '1', '3', '4', '5', '6', '9'], dtype=object)

In [21]:
# Contering to Numeric

listings['flexs'] = pd.to_numeric(listings['flexs'])
listings['flexs'].unique()

array([nan,  2.,  1.,  3.,  4.,  5.,  6.,  9.])

Nan here means we have no Flex

In [22]:
listings['flexs'] = listings['flexs'].fillna(0)

In [23]:
listings['flexs'].unique()

array([0., 2., 1., 3., 4., 5., 6., 9.])

In [24]:
listings['flexs'].value_counts()

0.0    17608
2.0     1107
3.0      752
4.0      262
1.0      235
5.0       32
6.0        3
9.0        1
Name: flexs, dtype: int64

### Fixing Rent

In [25]:
listings['rent'] = listings['rent'].map(lambda x: str(x).replace('$','').replace(',','')).astype('int')

In [26]:
listings.head(3)

,url,address,neighborhood,rent,beds,baths,flexs
0,https://www.renthop.com/listings/626-1st-avenu...,"626 1st Avenue, Apt W17M","Murray Hill, Midtown Manhattan, Manhattan",3408,0,1.0,0.0
1,https://www.renthop.com/listings/east-20s/b208...,East 20's,"Kips Bay, Midtown Manhattan, Manhattan",3500,1,1.0,2.0
2,https://www.renthop.com/listings/20-exchange-p...,"20 Exchange Place, Apt 2601","Financial District, Downtown Manhattan, Manhattan",3673,1,1.0,0.0

In [27]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           20000 non-null  object
 1   address       19988 non-null  object
 2   neighborhood  20000 non-null  object
 3   rent          20000 non-null  int32
 4   beds          20000 non-null  int64
 5   baths         20000 non-null  float64
 6   flexs         20000 non-null  float64
dtypes: float64(2), int32(1), int64(1), object(3)
memory usage: 1015.8+ KB

### Zip Codes
Using Google Maps For getting Related Zip Codes

In [29]:
# !pip install -U googlemaps

Collecting googlemaps
  Using cached googlemaps-4.2.0-py3-none-any.whl (38 kB)
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in c:\users\malik\appdata\local\continuum\miniconda3\envs\python4da\lib\site-packages (from googlemaps) (2.23.0)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\malik\appdata\local\continuum\miniconda3\envs\python4da\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\malik\appdata\local\continuum\miniconda3\envs\python4da\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.11.28)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\malik\appdata\local\continuum\miniconda3\envs\python4da\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.25.8)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\malik\appdata\local\continuum\miniconda3\envs\python4da\lib\site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.9)
Installing collected packages: googlemaps
Successfully installed googlemaps-4.2.0

In [30]:
listings.loc[3,['address']].values[0] + ' ' + listings.loc[3,['neighborhood']].values[0].split(', ')[-1]

'Queens St Queens'

In [31]:

def get_key():
    file_path = "Secrets\key.txt"
    with open(file_path, 'r') as file: 
          return file.read()

In [32]:
import googlemaps 
 
gmaps = googlemaps.Client(key=get_key()) 
 
# removing ',' from a record | So, we can get the cleaned string to get zipcode
r = listings.loc[1,['address']].values[0] + ' ' + listings.loc[1,['neighborhood']].values[0].split(', ')[-1] 
r

"East 20's Manhattan"

In [33]:
# Fetching Related data
geocode_result = gmaps.geocode(r) 
 
geocode_result

[{'address_components': [{'long_name': 'East 20th Street',
    'short_name': 'E 20th St',
    'types': ['route']},
   {'long_name': 'Manhattan',
    'short_name': 'Manhattan',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'New York',
    'short_name': 'New York',
    'types': ['locality', 'political']},
   {'long_name': 'New York County',
    'short_name': 'New York County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'New York',
    'short_name': 'NY',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']}],
  'formatted_address': 'E 20th St, New York, NY, USA',
  'geometry': {'bounds': {'northeast': {'lat': 40.7401872,
     'lng': -73.97418739999999},
    'southwest': {'lat': 40.7316118, 'lng': -73.9910835}},
   'location': {'lat': 40.7360191, 'lng': -73.9822744},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 40.7401872, 'lng': -73.97418739999999},
    'southwest': {'lat': 40.7316118, 'lng': -73.9910835}}},
  'place_id': 'ChIJA8hSoQpZwokRjdy0JwwWgoU',
  'types': ['route']}]

In [34]:
geocode_result[0]['address_components']

[{'long_name': 'East 20th Street',
  'short_name': 'E 20th St',
  'types': ['route']},
 {'long_name': 'Manhattan',
  'short_name': 'Manhattan',
  'types': ['political', 'sublocality', 'sublocality_level_1']},
 {'long_name': 'New York',
  'short_name': 'New York',
  'types': ['locality', 'political']},
 {'long_name': 'New York County',
  'short_name': 'New York County',
  'types': ['administrative_area_level_2', 'political']},
 {'long_name': 'New York',
  'short_name': 'NY',
  'types': ['administrative_area_level_1', 'political']},
 {'long_name': 'United States',
  'short_name': 'US',
  'types': ['country', 'political']}]

Dictonary having 'types' key with ['postal_code'] 
have 'short_name' key with zipcode

In [35]:
# looping trough this data to get zipcode
for piece_dict in geocode_result[0]['address_components']: 
    if 'postal_code' in piece_dict['types'] : 
        print(piece_dict['short_name'])

**Putting all together**

In [36]:
import re 
from IPython.display import clear_output


def get_zip(row): 
    """
    Source: ML Blueprints
    """
    # Remove Previous Print and add new
    clear_output(wait=True)
    print("...")
    print("...")
    
    try: 
        # removing ','
        addr = row['address'] + ' ' + row['neighborhood'].split(', ')[-1]     
        
        print(addr)
    
        if re.match('^\d+\s\w', addr): 
            geocode_result = gmaps.geocode(addr) 
            for piece in geocode_result[0]['address_components']: 
                if 'postal_code' in piece['types']: 
                    return piece['short_name'] 
                else: 
                    pass 
        else: 
            return np.nan 
    except: 
        return np.nan

In [37]:
listings['zip'] = listings.apply(get_zip, axis=1)

...
...
Cliff St Manhattan

In [38]:
listings['zip'].unique()

array(['10016', nan, '10005', '10036', '11222', '10038', '10128', '10002',
       '10017', '10028', '10019', '10280', '10033', '11217', '10003',
       '10032', '10011', '10009', '10025', '10012', '10014', '10023',
       '11216', '10022', '11109', '10018', '10069', '10021', '10024',
       '10001', '11230', '10004', '11237', '11225', '11210', '10027',
       '11201', '11101', '11218', '11221', '10040', '10010', '10037',
       '11213', '10065', '10106', '11223', '11102', '10075', '11206',
       '10031', '11211', '10013', '10026', '10030', '10029', None,
       '10039', '10270', '11205', '10463', '11203', '11220', '11385',
       '11238', '11249', '11207', '11209', '10034', '11105', '11374',
       '10035', '11103', '10007', '11226', '11215', '10471', '10522',
       '10467', '10282', '11232', '10006', '11234', '11233', '11231',
       '11236', '11691', '11208', '11229', '11219', '11235', '10459',
       '11379', '11355', '11370', '10453', '11228', '10301', '11106',
       '11418', '11104', '11372', '10451', '10281', '10162', '10456',
       '10468', '11214', '11375', '10458', '10701', '10304', '11377',
       '10454', '11204', '10455', '10466', '11434', '11435', '17603',
       '10460', '10465', '10044', '10469', '10461', '10801', '10452',
       '10167', '11692', '11212', '10123', '11694', '11559'], dtype=object)

Verify that None and np.nan are getting treated as NULLs

In [39]:
listings['zip'].value_counts()

10016    291
10019    271
10036    202
11221    200
10003    197
        ...
10455      1
11418      1
10123      1
10281      1
10469      1
Name: zip, Length: 131, dtype: int64

In [40]:
dict(listings['zip'].value_counts()).keys()

dict_keys(['10016', '10019', '10036', '11221', '10003', '10014', '10002', '11216', '10025', '10011', '10128', '10029', '10038', '10023', '11206', '10009', '10032', '11201', '11211', '10022', '10031', '10028', '11238', '10005', '10001', '10010', '10013', '11226', '10017', '10018', '10024', '11225', '10075', '11213', '10065', '10021', '10012', '11233', '10033', '11215', '11230', '11222', '11237', '11217', '10007', '11220', '11249', '11207', '11205', '10034', '10027', '10069', '10040', '11209', '10282', '11385', '10037', '11218', '10280', '10030', '10463', '11101', '11235', '11231', '11203', '10026', '11102', '11109', '11210', '10035', '10006', '10039', '11214', '11229', '10004', '11232', '11223', '11208', '11370', '11228', '10162', '11219', '10471', '10270', '11236', '11234', '11204', '10468', '10454', '11375', '10304', '10459', '10458', '11105', '10452', '11379', '11103', '10044', '10465', '10701', '11212', '10466', '11374', '10461', '11372', '11106', '11377', '11104', '10451', '10301', '10456', '11694', '10167', '11559', '11692', '10467', '10453', '10522', '10460', '17603', '10801', '11435', '10106', '11355', '11434', '11691', '10455', '11418', '10123', '10281', '10469'])

In [41]:
total_null = len(listings[listings['zip'].isnull()]['zip'])
total_null

13115

In [42]:
listings.shape[0] - total_null # we only got zip for this number of listings

6885

We Lost most of the data, anyways that would be useful to have zip codes

### Saving data

In [43]:
listings.to_csv('data\listings_interm_with_null_zips_2.csv', index = False)

In [44]:
listings[listings['zip'].notnull()].to_csv('data\listings_interm_with_zips_2.csv', index = False)